#SWP
~*
/Results/S_23*

#DevTools
*/CMakeLists.txt
*/cmake-build-debug/*

#IDE
*.idea

#Cache
*__pycache__

#File Types
*.m
*.mp4
*.zip
*.txt
*.htm
*.xml
*.gz
*.css
*.png

#Unrelated
filenameparser.py

#Directories
/Modules/*
*/Models
*/ModelSet
*/BigModelSet
*/Models/off
*/Models/original
*/MPI_Tests
*/PyMesh
/PDFs
*/Interactive Hausdorff Distance Calculation For General Polygonal Models/*
*/PDFs/*
*/MyPy*/*
*.vscode/*
*tempCodeRunner*
results_dosyalar
FaceScape
FLAME
Results/results.pdf
Code/.vscode/settings.json
Results/result.out
Code/.vscode/c_cpp_properties.json
msu-diploma-axoyto/*
Presentations
Results
SupervisorReview
Algorithms

# Static files
#
.gitignore
