#SWP
~*
/Results/S_23*

#DevTools
*/CMakeLists.txt
*/cmake-build-debug/*

#IDE
*.idea

#Cache
*__pycache__

#File Types
*.m
*.mp4
*.zip
*.txt

#Directories
/Modules/*
*/Models/off
*/MPI_Tests
*/PyMesh
/PDFs
/Inter*
*/MyPy*/*
